*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    }

    @font-face {
        font-family: SLANT;
        src: url(../fonts/SLANT.ttf);
    }
    
    @font-face {
        font-family: brandon_thin;
        src: url(../fonts/Brandon_thin.otf);
        }
    
     @font-face {
        font-family: brandon_med;
        src: url(../fonts/Brandon_med.otf);
        }   
    
    @font-face {
        font-family: brandon_reg;
        src: url(../fonts/Brandon_reg.otf);
        }
            
    @font-face {
        font-family: brandon_bld;
        src: url(../fonts/Brandon_bld.otf);
        }

body{
background-color: #474747;
border: 0px;
}

/* encabezado index */

.encabezado{
    background-color: #000000;
    width: 100%;
}

.logo-img{
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

nav{
    display: flex;
}



#btn-menu{
    display: none;
}

header label{
    display: none;
    padding: 10px;
    width: 28px;
}

header label:hover{
    cursor: pointer;
    background: rgba(150,150,150,0.4);
}



.barra ul{
    margin: 0 auto;
    display: flex;
    list-style: none;
    padding: 0;  
    text-align: center;  
}

#portafolio{
    background: #474747;
    color: #ffffff;
}

.barra li a{
    display: block;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 0px;  
    box-sizing: border-box;
    font-family: SLANT;
    text-decoration-line: none;
    color: #000000;
    width: 200px;
    height: 50px;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;

}

.barra li a:hover{
    background: #474747;
    color: #ffffff;
}

@media (max-width:860px) {
    header label{
        display: block;
    }

    .barra{
        background-color: black;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 5px;
        display: none;
        transition: all 0.5s;
    }

    .barra ul{
        flex-direction: column;
        width: 100%;
    }

    .barra li a{
        margin-left: 0px;
        margin-bottom: 5px;
        width: 100%;
    }


    #btn-menu:checked ~ .barra {
        display: block;
    }

}

.informacion{
    font-family: Brandon_thin;
    font-size: 20px;
    padding: none;
    margin: none;
    max-height: 600px;
    color: #ffffff;
    font-weight: 600;
}


/* pie de página */

@media (max-width:860px){

    .container-info{
        display: block !important;
    }

    .redes-pie{
        width: auto !important;
    }

    .contacto-pie{
        width: auto !important;

    }
}

.pie-cuerpo{
    background-color: #000000;
}

.container-foot{
    width: 80%;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0px auto;
    position: relative;
}

.container-info{
    width: 100%;
    display: flex;
}

.redes-img{
    width: 40px;
    margin: 5px;
}

.contacto-pie{
    width: 50%;
    text-align: center;
    margin: 15px;
}

.redes-pie{
    width: 50%;
    text-align: center;
    margin: 15px;
}

.derechos-pie{
    width: 100%;
    text-align: center;
    margin: 15px;
}