*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    }

@font-face {
    font-family: SLANT;
    src: url(../fonts/SLANT.ttf);
}

body{
background-color: #474747;
border: 0px;
}

/* encabezado index */

.encabezado{
    background-color: #000000;
    width: 100%;
}

.logo-img{
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

nav{
    display: flex;
}



#btn-menu{
    display: none;
}

header label{
    display: none;
    padding: 10px;
    width: 28px;
}

header label:hover{
    cursor: pointer;
    background: rgba(150,150,150,0.4);
}



.barra ul{
    margin: 0 auto;
    display: flex;
    list-style: none;
    padding: 0;  
    text-align: center;  
}

#quienes-somos{
    background: #474747;
}

.barra li a{
    display: block;
    background-color: white;
    margin-left: 5px;
    margin-bottom: 0px;  
    box-sizing: border-box;
    font-family: SLANT;
    text-decoration-line: none;
    color: #000000;
    width: 200px;
    height: 50px;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;

}

.barra li a:hover{
    background: #474747;
}

@media (max-width:800px) {
    header label{
        display: block;
    }

    .barra{
        position: absolute;
        background-color: black;
        width: 200px;
        margin-left: 0px;
        margin-bottom: 5px;
        margin-left: -200px;
        transition: all 0.5s;
    }

    .barra ul{
        flex-direction: column;
    }

    .barra li a{
        margin-left: 0px;
        margin-bottom: 5px;
    }

    #btn-menu:checked ~ .barra {
        margin: 0;
    }

}