*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    }

@font-face {
    font-family: SLANT;
    src: url(../fonts/SLANT.ttf);
}

body{
background-color: #474747;
border: 0px;
}

/* encabezado index */

.encabezado{
    background-color: #000000;
    width: 100%;
}

.logo-img{
    width: 100px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.barra{
    
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
}

.barra-lista{
    margin-bottom: 0px;
    display: inline-block;
}

#quienes_somos{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #474747; 
}

.navegacion{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: white;
    margin: 5px;
    margin-bottom: 0px;
    align-items: center;
    flex-shrink: 1;
}

.navegacion:hover{
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #474747;

}
.link-barra{
    color: black;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
    font-family: SLANT;
    text-decoration-line: none;
}